*{
    font-size: 25px;
}
#equity{
    display: none;
}
#convert{
    display: none;
}
#mobile{
    display: none;
}
#future{
    display: none;
}
#farewell{
    display: none;
}
#take{
    display: none;
}
#deposit{
    display: none;
}
#opening{
    display: visible;
}
#nav{
    display: none;
}
#amount{
    margin-bottom: 10px;
}
.outer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.begin{
    position: absolute;
    margin-left: 450px;
    margin-top: 245px;
}
.cash{
    text-align: center;
    margin-left: 300px;
}
.inform{
    text-align: center;
    margin-left: 300px;
}
.agreement{
    text-align: center;
    margin-left: 351px;
}
.choice1{
    margin-right:195px;
    margin-bottom: 10px;
}
.choice2{
    margin-right:195px;
}
.counter{
    text-align: center;
    margin-left: 300px;
}
.display{
    width: 1950px;
    height: 880px;
    border: 7px solid #4CAF50;
    background-color: white;
    box-shadow: 3px 3px 0px 10px rgb(57, 129, 60);
    position: relative;
    margin-top: 70px;
}
.info{
  text-align: center;
}
.welcome{
    text-align: center;
    left: 20px;
    margin-bottom: 30px;
    position: relative;
}

.password{
    text-align: center;
    margin-left: 285px;
    margin-right: 20px;
    position: absolute;
}
.profile{
    padding-bottom: 15px;
    text-align: center;
    padding-top: 85px;
    position: absolute;
}

.key{
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 200px;
    height: 60px;
   
}
.remove{
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: red;
    box-shadow: 0 9px #999;
    width: 200px;
    height: 60px;
    
}
.fair{
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    color:black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    background-color: yellow;
    width: 200px;
    height: 60px;
}
.invade{
    margin-left: 10px;
    color: rgb(14, 70, 14);
    background-color: #4CAF50;
    box-shadow: 0 9px #999;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 60px;
}
.key:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.remove:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.fair:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.invade:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.pad{
    margin-top: 62px;
    margin-left: 150px;
}
.front{
    margin-bottom: 30px;
}
.forward{
    margin-bottom: 30px;
}
.backward{
    padding-bottom: 30px;
}
.bottom{
    padding-bottom: 30px;
    margin-left: 212px;
}


.exit p{
    text-align: center;
    line-height: 50px;
}

.exit{
    float: right;
    margin-right: 135px;
    margin-left: 10px;
    padding-bottom: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.exit:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.state p{
    text-align: center;
    line-height: 50px;
}
.state{
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.state:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.fast p{
    text-align: center;
    line-height: 50px;
}
.fast{
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.fast:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.money p{
    text-align: center;
    line-height: 50px;
}
.money{
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.money:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.receipt p{
    text-align: center;
    line-height: 50px;
}
.receipt{
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.receipt:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.with p{
    text-align: center;
    line-height: 50px;
}
.with{
    float: left;
    margin-left: 21px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.with:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.bring {
    float: left;
    margin-left: 40px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width: 150px;
    height: 50px;
}
.bring:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.bring p{
    text-align: center;
    line-height: 50px;
}